In [1]:
from IPython.display import display, HTML
display(HTML('<h1><img src="logo.png" style="background-color: black"></h1>'))

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Annual Prediction

In [3]:
train2 = pd.read_csv("Bihis 2020.csv")

In [4]:
train1 = pd.read_csv("Bihis 2021.csv")

In [5]:
test = pd.read_csv("Bihis 2022.csv")

In [6]:
train2_len = len(train2)
train1_len = len(train1)
test_len = len(test)

In [7]:
df = pd.concat([train2, train1, test], axis=0)
pd.set_option('display.max_rows', df.shape[0]+1)
df.reset_index(drop=True, inplace=True)
df

               Name    Size  Cost Category    Sales  Year
0            Kamias  Medium   100     Tree   3400.0  2020
1          Kalamasi  Medium   120     Tree   4080.0  2020
2            Papaya   Small    50     Tree   1700.0  2020
3            Tundan   Small    80     Tree   3200.0  2020
4           Lakatan   Small   150     Tree  10500.0  2020
5          Rambutan  Medium   250     Tree   5000.0  2020
6              Suha   Small   130     Tree   1950.0  2020
7              Atis  Medium   130     Tree   3770.0  2020
8          Guyabano  Medium   100     Tree   2200.0  2020
9             Lemon   Large   100     Tree   1700.0  2020
10       Dalanghita   Small   130     Tree   3120.0  2020
11           Langka  Medium   100     Tree   2600.0  2020
12            Duhat   Large   130     Tree   3120.0  2020
13          Avocado   Small   130     Tree   2340.0  2020
14       Sinegwelas  Medium   150     Tree   2700.0  2020
15            Chico   Large   100     Tree    900.0  2020
16            Guava   Small   130     Tree   1560.0  2020
17         Lanzones  Medium   250     Tree   2000.0  2020
18             Pot1   Small    50     Tool   2450.0  2020
19             Pot2  Medium   100     Tool   8600.0  2020
20            pot 3   Large   150     Tool   4500.0  2020
21       Pot Design   Large   500     Tool   4500.0  2020
22      Yellow Bell  Medium    80   Flower   2240.0  2020
23  Milendres White  Medium   100   Flower   1500.0  2020
24        Kabalyero  Medium   150   Flower   2700.0  2020
25     Bridal Boket   Small   100   Flower   2600.0  2020
26       Sampaguita   Small    50   Flower   1500.0  2020
27             Soil     NaN    50     Tool   1850.0  2020
28           Kamias  Medium   100     Tree   3700.0  2021
29         Kalamasi  Medium   120     Tree   5060.0  2021
30           Papaya   Small    50     Tree   2500.0  2021
31           Tundan   Small    80     Tree   3400.0  2021
32          Lakatan   Small   150     Tree   9500.0  2021
33         Rambutan  Medium   250     Tree   4250.0  2021
34             Suha   Small   130     Tree   2950.0  2021
35             Atis  Medium   130     Tree   3370.0  2021
36         Guyabano  Medium   100     Tree   2800.0  2021
37            Lemon   Large   100     Tree   2300.0  2021
38       Dalanghita   Small   130     Tree   3620.0  2021
39           Langka  Medium   100     Tree   2800.0  2021
40            Duhat   Large   130     Tree   3420.0  2021
41          Avocado   Small   130     Tree   2640.0  2021
42       Sinegwelas  Medium   150     Tree   2800.0  2021
43            Chico   Large   100     Tree   1300.0  2021
44            Guava   Small   130     Tree   2560.0  2021
45         Lanzones  Medium   250     Tree   1500.0  2021
46             Pot1   Small    50     Tool   2150.0  2021
47             Pot2  Medium   100     Tool   7600.0  2021
48            pot 3   Large   150     Tool   2500.0  2021
49       Pot Design   Large   500     Tool   3500.0  2021
50      Yellow Bell  Medium    80   Flower   3240.0  2021
51  Milendres White  Medium   100   Flower   2500.0  2021
52        Kabalyero  Medium   150   Flower   1700.0  2021
53     Bridal Boket   Small   100   Flower   2000.0  2021
54       Sampaguita   Small    50   Flower   1800.0  2021
55             Soil     NaN    50     Tool   2000.0  2021
56    Manga Kalabaw   Small   200     Tree   2800.0  2021
57       Manga Pico  Medium   150     Tree   3700.0  2021
58           Kamias  Medium   100     Tree      NaN  2022
59         Kalamasi  Medium   120     Tree      NaN  2022
60           Papaya   Small    50     Tree      NaN  2022
61           Tundan   Small    80     Tree      NaN  2022
62          Lakatan   Small   150     Tree      NaN  2022
63         Rambutan  Medium   250     Tree      NaN  2022
64             Suha   Small   130     Tree      NaN  2022
65             Atis  Medium   130     Tree      NaN  2022
66         Guyabano  Medium   100     Tree      NaN  2022
67            Lemon   Large   100     Tree      NaN  2022
68       Dalanghita   Small   130     Tree      NaN  2022
69           Langka  Medium   100     Tree      NaN  2022
70            Duhat   Large   130     Tree      NaN  2022
71          Avocado   Small   130     Tree      NaN  2022
72       Sinegwelas  Medium   150     Tree      NaN  2022
73            Chico   Large   100     Tree      NaN  2022
74            Guava   Small   130     Tree      NaN  2022
75         Lanzones  Medium   250     Tree      NaN  2022
76             Pot1   Small    50     Tool      NaN  2022
77             Pot2  Medium   100     Tool      NaN  2022
78            pot 3   Large   150     Tool      NaN  2022
79       Pot Design   Large   500     Tool      NaN  2022
80      Yellow Bell  Medium    80   Flower      NaN  2022
81  Milendres White  Medium   100   Flower      NaN  2022
82        Kabalyero  Medium   150   Flower      NaN  2022
83     Bridal Boket   Small   100   Flower      NaN  2022
84       Sampaguita   Small    50   Flower      NaN  2022
85             Soil     NaN    50     Tool      NaN  2022
86    Manga Kalabaw   Small   200     Tree      NaN  2022
87       Manga Pico  Medium   150     Tree      NaN  2022

In [8]:
%%capture
print(len(train2), len(train1), len(test), len(df))

In [9]:
%%capture
df.apply(lambda x: len(x.unique()))

In [10]:
%%capture
df.isnull().sum()

In [11]:
%%capture
cat_col = []
for x in df.dtypes.index:
    if df.dtypes[x] == 'object':
        cat_col.append(x)
cat_col

In [12]:
%%capture
cat_col.remove('Name')
cat_col

In [13]:
%%capture
for col in cat_col:
    print(col)
    print(df[col].value_counts())
    print();

In [14]:
%%capture
size_mode = df.pivot_table(values = 'Size', columns = 'Category', aggfunc=(lambda x: x.mode()[0]))
size_mode

In [15]:
miss_bool = df['Size'].isnull()
df.loc[miss_bool, 'Size'] = df.loc[miss_bool, 'Category'].apply(lambda x: size_mode[x])

In [16]:
%%capture
df['Size'].isnull().sum()

In [17]:
df['Total_Year'] = 2022 - df['Year']

In [18]:
%%capture
df['Total_Year']

In [19]:
%%capture
df = pd.get_dummies(df, columns=[ 'Size', 'Category'])
df.head();

In [20]:
%%capture
df.tail();

In [21]:
%%capture
train2 = df.iloc[:train2_len,:]
train1 = df.iloc[train2_len:,:]
test = df.iloc[train2_len:,:]

In [22]:
%%capture
test = test.drop(columns=['Sales'])
test.head();

In [23]:
%%capture
test.tail();

In [24]:
%%capture
X = train2.drop(columns=['Year', 'Name', 'Sales'])
y = train2['Sales']

# Accuracy of model

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
def train2(model, X, y):
    model.fit(X, y)
    
    pred = model.predict(X)
    
    cv_score = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=5)
    cv_score = np.abs(np.mean(cv_score))
    print("Model Report")
    print("Accuracy:", mean_squared_error(y,pred))
    print("CrossValidationScore:", cv_score)

In [26]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
train2(model, X, y)
coef = pd.Series(model.feature_importances_, X.columns).sort_values(ascending=False)

Model Report
Accuracy: 779406.3972077484
CrossValidationScore: 5331866.14851574

In [27]:
%%capture
x_test = test.drop(columns=['Year', 'Name'])
x_test.head();

In [28]:
%%capture
model = RandomForestRegressor()
model.fit(X, y)

In [29]:
pred = model.predict(x_test)
pred

array([2784.99761905, 3842.26666667, 1838.81666667, 2720.63083333,
       7836.56642857, 3431.        , 2239.78392857, 3667.86666667,
       2784.99761905, 1529.2552381 , 2239.78392857, 2784.99761905,
       2702.57857143, 2239.78392857, 3068.8       , 1529.2552381 ,
       2239.78392857, 3431.        , 3054.        , 6160.44761905,
       4664.5       , 4896.2       , 2416.28095238, 2168.21428571,
       2909.6       , 2376.8       , 1711.2       , 2470.8       ,
       7859.14142857, 3068.8       , 2784.99761905, 3842.26666667,
       1838.81666667, 2720.63083333, 7836.56642857, 3431.        ,
       2239.78392857, 3667.86666667, 2784.99761905, 1529.2552381 ,
       2239.78392857, 2784.99761905, 2702.57857143, 2239.78392857,
       3068.8       , 1529.2552381 , 2239.78392857, 3431.        ,
       3054.        , 6160.44761905, 4664.5       , 4896.2       ,
       2416.28095238, 2168.21428571, 2909.6       , 2376.8       ,
       1711.2       , 2470.8       , 7859.14142857, 3068.8       ])

# Annual Prediction result

In [30]:
mission = pd.DataFrame()
mission['Name'] = test["Name"]
mission['sales'] = pred
mission['Year'] = 2022
pd.set_option('display.max_rows', df.shape[0]+1)
mission

               Name        sales  Year
28           Kamias  2784.997619  2022
29         Kalamasi  3842.266667  2022
30           Papaya  1838.816667  2022
31           Tundan  2720.630833  2022
32          Lakatan  7836.566429  2022
33         Rambutan  3431.000000  2022
34             Suha  2239.783929  2022
35             Atis  3667.866667  2022
36         Guyabano  2784.997619  2022
37            Lemon  1529.255238  2022
38       Dalanghita  2239.783929  2022
39           Langka  2784.997619  2022
40            Duhat  2702.578571  2022
41          Avocado  2239.783929  2022
42       Sinegwelas  3068.800000  2022
43            Chico  1529.255238  2022
44            Guava  2239.783929  2022
45         Lanzones  3431.000000  2022
46             Pot1  3054.000000  2022
47             Pot2  6160.447619  2022
48            pot 3  4664.500000  2022
49       Pot Design  4896.200000  2022
50      Yellow Bell  2416.280952  2022
51  Milendres White  2168.214286  2022
52        Kabalyero  2909.600000  2022
53     Bridal Boket  2376.800000  2022
54       Sampaguita  1711.200000  2022
55             Soil  2470.800000  2022
56    Manga Kalabaw  7859.141429  2022
57       Manga Pico  3068.800000  2022
58           Kamias  2784.997619  2022
59         Kalamasi  3842.266667  2022
60           Papaya  1838.816667  2022
61           Tundan  2720.630833  2022
62          Lakatan  7836.566429  2022
63         Rambutan  3431.000000  2022
64             Suha  2239.783929  2022
65             Atis  3667.866667  2022
66         Guyabano  2784.997619  2022
67            Lemon  1529.255238  2022
68       Dalanghita  2239.783929  2022
69           Langka  2784.997619  2022
70            Duhat  2702.578571  2022
71          Avocado  2239.783929  2022
72       Sinegwelas  3068.800000  2022
73            Chico  1529.255238  2022
74            Guava  2239.783929  2022
75         Lanzones  3431.000000  2022
76             Pot1  3054.000000  2022
77             Pot2  6160.447619  2022
78            pot 3  4664.500000  2022
79       Pot Design  4896.200000  2022
80      Yellow Bell  2416.280952  2022
81  Milendres White  2168.214286  2022
82        Kabalyero  2909.600000  2022
83     Bridal Boket  2376.800000  2022
84       Sampaguita  1711.200000  2022
85             Soil  2470.800000  2022
86    Manga Kalabaw  7859.141429  2022
87       Manga Pico  3068.800000  2022

# Quarterly Prediction

In [31]:
mission = pd.DataFrame()
mission['Name'] = test["Name"]
mission['sales'] = pred / 12
mission['Quarterly'] = 3
pd.set_option('display.max_rows', df.shape[0]+1)
mission

               Name       sales  Quarterly
28           Kamias  232.083135          3
29         Kalamasi  320.188889          3
30           Papaya  153.234722          3
31           Tundan  226.719236          3
32          Lakatan  653.047202          3
33         Rambutan  285.916667          3
34             Suha  186.648661          3
35             Atis  305.655556          3
36         Guyabano  232.083135          3
37            Lemon  127.437937          3
38       Dalanghita  186.648661          3
39           Langka  232.083135          3
40            Duhat  225.214881          3
41          Avocado  186.648661          3
42       Sinegwelas  255.733333          3
43            Chico  127.437937          3
44            Guava  186.648661          3
45         Lanzones  285.916667          3
46             Pot1  254.500000          3
47             Pot2  513.370635          3
48            pot 3  388.708333          3
49       Pot Design  408.016667          3
50      Yellow Bell  201.356746          3
51  Milendres White  180.684524          3
52        Kabalyero  242.466667          3
53     Bridal Boket  198.066667          3
54       Sampaguita  142.600000          3
55             Soil  205.900000          3
56    Manga Kalabaw  654.928452          3
57       Manga Pico  255.733333          3
58           Kamias  232.083135          3
59         Kalamasi  320.188889          3
60           Papaya  153.234722          3
61           Tundan  226.719236          3
62          Lakatan  653.047202          3
63         Rambutan  285.916667          3
64             Suha  186.648661          3
65             Atis  305.655556          3
66         Guyabano  232.083135          3
67            Lemon  127.437937          3
68       Dalanghita  186.648661          3
69           Langka  232.083135          3
70            Duhat  225.214881          3
71          Avocado  186.648661          3
72       Sinegwelas  255.733333          3
73            Chico  127.437937          3
74            Guava  186.648661          3
75         Lanzones  285.916667          3
76             Pot1  254.500000          3
77             Pot2  513.370635          3
78            pot 3  388.708333          3
79       Pot Design  408.016667          3
80      Yellow Bell  201.356746          3
81  Milendres White  180.684524          3
82        Kabalyero  242.466667          3
83     Bridal Boket  198.066667          3
84       Sampaguita  142.600000          3
85             Soil  205.900000          3
86    Manga Kalabaw  654.928452          3
87       Manga Pico  255.733333          3

# Monthly Prediction

In [32]:
mission = pd.DataFrame()
mission['Name'] = test["Name"]
mission['sales'] = pred / 36
mission['monthly'] = 1
pd.set_option('display.max_rows', df.shape[0]+1)
mission

               Name       sales  monthly
28           Kamias   77.361045        1
29         Kalamasi  106.729630        1
30           Papaya   51.078241        1
31           Tundan   75.573079        1
32          Lakatan  217.682401        1
33         Rambutan   95.305556        1
34             Suha   62.216220        1
35             Atis  101.885185        1
36         Guyabano   77.361045        1
37            Lemon   42.479312        1
38       Dalanghita   62.216220        1
39           Langka   77.361045        1
40            Duhat   75.071627        1
41          Avocado   62.216220        1
42       Sinegwelas   85.244444        1
43            Chico   42.479312        1
44            Guava   62.216220        1
45         Lanzones   95.305556        1
46             Pot1   84.833333        1
47             Pot2  171.123545        1
48            pot 3  129.569444        1
49       Pot Design  136.005556        1
50      Yellow Bell   67.118915        1
51  Milendres White   60.228175        1
52        Kabalyero   80.822222        1
53     Bridal Boket   66.022222        1
54       Sampaguita   47.533333        1
55             Soil   68.633333        1
56    Manga Kalabaw  218.309484        1
57       Manga Pico   85.244444        1
58           Kamias   77.361045        1
59         Kalamasi  106.729630        1
60           Papaya   51.078241        1
61           Tundan   75.573079        1
62          Lakatan  217.682401        1
63         Rambutan   95.305556        1
64             Suha   62.216220        1
65             Atis  101.885185        1
66         Guyabano   77.361045        1
67            Lemon   42.479312        1
68       Dalanghita   62.216220        1
69           Langka   77.361045        1
70            Duhat   75.071627        1
71          Avocado   62.216220        1
72       Sinegwelas   85.244444        1
73            Chico   42.479312        1
74            Guava   62.216220        1
75         Lanzones   95.305556        1
76             Pot1   84.833333        1
77             Pot2  171.123545        1
78            pot 3  129.569444        1
79       Pot Design  136.005556        1
80      Yellow Bell   67.118915        1
81  Milendres White   60.228175        1
82        Kabalyero   80.822222        1
83     Bridal Boket   66.022222        1
84       Sampaguita   47.533333        1
85             Soil   68.633333        1
86    Manga Kalabaw  218.309484        1
87       Manga Pico   85.244444        1