![](logo.png)

In [1]:
# @hidden
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('.cm-comment:contains(@hidden)').closest('div.input').hide();
 } else {
 $('.cm-comment:contains(@hidden)').closest('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
''')

In [2]:
# @hidden
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('.cm-comment:contains(@hidden)').closest('div.input').hide();
 } else {
 $('.cm-comment:contains(@hidden)').closest('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
The raw code for this IPython notebook is by default hidden for easier reading.
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
# @hidden
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Annual Prediction

In [4]:
train2 = pd.read_csv("Bihis 2020.csv")

In [5]:
train1 = pd.read_csv("Bihis 2021.csv")

In [6]:
test = pd.read_csv("Bihis 2022.csv")

In [7]:
train2_len = len(train2)
train1_len = len(train1)
test_len = len(test)

In [8]:
df = pd.concat([train2, train1, test], axis=0)
pd.set_option('display.max_rows', df.shape[0]+1)
df.reset_index(drop=True, inplace=True)
df

               Name    Size  Cost Category    Sales  Year
0            Kamias  Medium   100     Tree   3400.0  2020
1          Kalamasi  Medium   120     Tree   4080.0  2020
2            Papaya   Small    50     Tree   1700.0  2020
3            Tundan   Small    80     Tree   3200.0  2020
4           Lakatan   Small   150     Tree  10500.0  2020
5          Rambutan  Medium   250     Tree   5000.0  2020
6              Suha   Small   130     Tree   1950.0  2020
7              Atis  Medium   130     Tree   3770.0  2020
8          Guyabano  Medium   100     Tree   2200.0  2020
9             Lemon   Large   100     Tree   1700.0  2020
10       Dalanghita   Small   130     Tree   3120.0  2020
11           Langka  Medium   100     Tree   2600.0  2020
12            Duhat   Large   130     Tree   3120.0  2020
13          Avocado   Small   130     Tree   2340.0  2020
14       Sinegwelas  Medium   150     Tree   2700.0  2020
15            Chico   Large   100     Tree    900.0  2020
16            Guava   Small   130     Tree   1560.0  2020
17         Lanzones  Medium   250     Tree   2000.0  2020
18             Pot1   Small    50     Tool   2450.0  2020
19             Pot2  Medium   100     Tool   8600.0  2020
20            pot 3   Large   150     Tool   4500.0  2020
21       Pot Design   Large   500     Tool   4500.0  2020
22      Yellow Bell  Medium    80   Flower   2240.0  2020
23  Milendres White  Medium   100   Flower   1500.0  2020
24        Kabalyero  Medium   150   Flower   2700.0  2020
25     Bridal Boket   Small   100   Flower   2600.0  2020
26       Sampaguita   Small    50   Flower   1500.0  2020
27             Soil     NaN    50     Tool   1850.0  2020
28           Kamias  Medium   100     Tree   3700.0  2021
29         Kalamasi  Medium   120     Tree   5060.0  2021
30           Papaya   Small    50     Tree   2500.0  2021
31           Tundan   Small    80     Tree   3400.0  2021
32          Lakatan   Small   150     Tree   9500.0  2021
33         Rambutan  Medium   250     Tree   4250.0  2021
34             Suha   Small   130     Tree   2950.0  2021
35             Atis  Medium   130     Tree   3370.0  2021
36         Guyabano  Medium   100     Tree   2800.0  2021
37            Lemon   Large   100     Tree   2300.0  2021
38       Dalanghita   Small   130     Tree   3620.0  2021
39           Langka  Medium   100     Tree   2800.0  2021
40            Duhat   Large   130     Tree   3420.0  2021
41          Avocado   Small   130     Tree   2640.0  2021
42       Sinegwelas  Medium   150     Tree   2800.0  2021
43            Chico   Large   100     Tree   1300.0  2021
44            Guava   Small   130     Tree   2560.0  2021
45         Lanzones  Medium   250     Tree   1500.0  2021
46             Pot1   Small    50     Tool   2150.0  2021
47             Pot2  Medium   100     Tool   7600.0  2021
48            pot 3   Large   150     Tool   2500.0  2021
49       Pot Design   Large   500     Tool   3500.0  2021
50      Yellow Bell  Medium    80   Flower   3240.0  2021
51  Milendres White  Medium   100   Flower   2500.0  2021
52        Kabalyero  Medium   150   Flower   1700.0  2021
53     Bridal Boket   Small   100   Flower   2000.0  2021
54       Sampaguita   Small    50   Flower   1800.0  2021
55             Soil     NaN    50     Tool   2000.0  2021
56    Manga Kalabaw   Small   200     Tree   2800.0  2021
57       Manga Pico  Medium   150     Tree   3700.0  2021
58           Kamias  Medium   100     Tree      NaN  2022
59         Kalamasi  Medium   120     Tree      NaN  2022
60           Papaya   Small    50     Tree      NaN  2022
61           Tundan   Small    80     Tree      NaN  2022
62          Lakatan   Small   150     Tree      NaN  2022
63         Rambutan  Medium   250     Tree      NaN  2022
64             Suha   Small   130     Tree      NaN  2022
65             Atis  Medium   130     Tree      NaN  2022
66         Guyabano  Medium   100     Tree      NaN  2022
67            Lemon   Large   100     Tree      NaN  2022
68       Dalanghita   Small   130     Tree      NaN  2022
69           Langka  Medium   100     Tree      NaN  2022
70            Duhat   Large   130     Tree      NaN  2022
71          Avocado   Small   130     Tree      NaN  2022
72       Sinegwelas  Medium   150     Tree      NaN  2022
73            Chico   Large   100     Tree      NaN  2022
74            Guava   Small   130     Tree      NaN  2022
75         Lanzones  Medium   250     Tree      NaN  2022
76             Pot1   Small    50     Tool      NaN  2022
77             Pot2  Medium   100     Tool      NaN  2022
78            pot 3   Large   150     Tool      NaN  2022
79       Pot Design   Large   500     Tool      NaN  2022
80      Yellow Bell  Medium    80   Flower      NaN  2022
81  Milendres White  Medium   100   Flower      NaN  2022
82        Kabalyero  Medium   150   Flower      NaN  2022
83     Bridal Boket   Small   100   Flower      NaN  2022
84       Sampaguita   Small    50   Flower      NaN  2022
85             Soil     NaN    50     Tool      NaN  2022
86    Manga Kalabaw   Small   200     Tree      NaN  2022
87       Manga Pico  Medium   150     Tree      NaN  2022

In [9]:
%%capture
print(len(train2), len(train1), len(test), len(df))

In [10]:
%%capture
df.apply(lambda x: len(x.unique()))

In [11]:
%%capture
df.isnull().sum()

In [12]:
%%capture
cat_col = []
for x in df.dtypes.index:
    if df.dtypes[x] == 'object':
        cat_col.append(x)
cat_col

In [13]:
%%capture
cat_col.remove('Name')
cat_col

In [14]:
%%capture
for col in cat_col:
    print(col)
    print(df[col].value_counts())
    print();

In [15]:
%%capture
size_mode = df.pivot_table(values = 'Size', columns = 'Category', aggfunc=(lambda x: x.mode()[0]))
size_mode

In [16]:
miss_bool = df['Size'].isnull()
df.loc[miss_bool, 'Size'] = df.loc[miss_bool, 'Category'].apply(lambda x: size_mode[x])

In [17]:
%%capture
df['Size'].isnull().sum()

In [18]:
df['Total_Year'] = 2022 - df['Year']

In [19]:
%%capture
df['Total_Year']

In [20]:
%%capture
df = pd.get_dummies(df, columns=[ 'Size', 'Category'])
df.head();

In [21]:
%%capture
df.tail();

In [22]:
%%capture
train2 = df.iloc[:train2_len,:]
train1 = df.iloc[train2_len:,:]
test = df.iloc[train2_len:,:]

In [23]:
%%capture
test = test.drop(columns=['Sales'])
test.head()

In [24]:
%%capture
test.tail();

In [25]:
X = train2.drop(columns=['Year', 'Name', 'Sales'])
y = train2['Sales']

In [26]:
# @hidden
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error
def train2(model, X, y):
    model.fit(X, y)
    model.score(X, y)

In [27]:
# @hidden
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
train2(model, X, y)
coef = pd.Series(model.feature_importances_, X.columns).sort_values(ascending=False)

In [28]:
%%capture
x_test = test.drop(columns=['Year', 'Name'])
x_test.head();

# Prediction

In [29]:
class RandomForestRegresor:
    def __init__(self, n_trees=10, max_depth=3, min_samples_split=2, n_feature=None):
        self.n_trees = n_trees
        self.max_depth = max_depth
        self.min_samples_split = min_samples_split
        self.n_features = n_feature
        self.trees = []

    def fit(self, X, y):
        self.trees = []
        for _ in range(self.n_trees):
            tree = DecisionTree(max_depth=self.max_depth,
                                   min_samples_split=self.min_samples_split,
                                   n_features=self.n_features)
            X_sample, y_sample = self._bootstrap_samples(X, y)
            tree.fit(X_sample, y_sample)
            self.trees.append(tree)
        
    def _bootstrap_samples(self, X, y):
        n_samples = X.shape[0]
        idxs = np.random.choice(n_samples, n_samples, replace=True)
        return X[idxs], y[idxs]
    
    def _most_common_label(self, y):
        counter = Counter(y)
        most_common = counter.most_common(1)[0][0]
        return most_common

    def predict(self, X):
        predictions = np.array([tree.predict(X) for tree in self.trees])
        return predictions

model = RandomForestRegresor()
model.fit(X, y)

In [30]:
pred = model.predict(X)
cv_score = cross_val_score(model, X, y, scoring='neg_mean_squared_error', cv=5)
cv_score = np.abs(np.mean(cv_score))
print("Model Report Score:", model.score(X, y))
print("Accuracy:", mean_squared_error(y,pred))
print("CrossValidationScore:", cv_score)

Model Report Score: 0.7800126323193357
Accuracy: 924639.6799900782
CrossValidationScore: 5060919.185041838

In [31]:
pred = model.predict(x_test)
pred

array([2763.61428571, 3837.43      , 1974.36      , 2830.53142857,
       7092.17428571, 3539.4       , 2404.39535714, 3593.00857143,
       2763.61428571, 1437.10666667, 2404.39535714, 2763.61428571,
       2742.10190476, 2404.39535714, 3000.1       , 1437.10666667,
       2404.39535714, 3539.4       , 2908.5       , 6254.48571429,
       4192.4       , 4565.4       , 2390.53333333, 2107.        ,
       2897.6       , 2309.45083333, 1808.6       , 2375.        ,
       7092.17428571, 3000.1       , 2763.61428571, 3837.43      ,
       1974.36      , 2830.53142857, 7092.17428571, 3539.4       ,
       2404.39535714, 3593.00857143, 2763.61428571, 1437.10666667,
       2404.39535714, 2763.61428571, 2742.10190476, 2404.39535714,
       3000.1       , 1437.10666667, 2404.39535714, 3539.4       ,
       2908.5       , 6254.48571429, 4192.4       , 4565.4       ,
       2390.53333333, 2107.        , 2897.6       , 2309.45083333,
       1808.6       , 2375.        , 7092.17428571, 3000.1       ])

# Annual Prediction result

In [32]:
mission = pd.DataFrame()
mission['Name'] = test["Name"]
mission['sales'] = pred
mission['Year'] = 2022
pd.set_option('display.max_rows', df.shape[0]+1)
mission

               Name        sales  Year
28           Kamias  2763.614286  2022
29         Kalamasi  3837.430000  2022
30           Papaya  1974.360000  2022
31           Tundan  2830.531429  2022
32          Lakatan  7092.174286  2022
33         Rambutan  3539.400000  2022
34             Suha  2404.395357  2022
35             Atis  3593.008571  2022
36         Guyabano  2763.614286  2022
37            Lemon  1437.106667  2022
38       Dalanghita  2404.395357  2022
39           Langka  2763.614286  2022
40            Duhat  2742.101905  2022
41          Avocado  2404.395357  2022
42       Sinegwelas  3000.100000  2022
43            Chico  1437.106667  2022
44            Guava  2404.395357  2022
45         Lanzones  3539.400000  2022
46             Pot1  2908.500000  2022
47             Pot2  6254.485714  2022
48            pot 3  4192.400000  2022
49       Pot Design  4565.400000  2022
50      Yellow Bell  2390.533333  2022
51  Milendres White  2107.000000  2022
52        Kabalyero  2897.600000  2022
53     Bridal Boket  2309.450833  2022
54       Sampaguita  1808.600000  2022
55             Soil  2375.000000  2022
56    Manga Kalabaw  7092.174286  2022
57       Manga Pico  3000.100000  2022
58           Kamias  2763.614286  2022
59         Kalamasi  3837.430000  2022
60           Papaya  1974.360000  2022
61           Tundan  2830.531429  2022
62          Lakatan  7092.174286  2022
63         Rambutan  3539.400000  2022
64             Suha  2404.395357  2022
65             Atis  3593.008571  2022
66         Guyabano  2763.614286  2022
67            Lemon  1437.106667  2022
68       Dalanghita  2404.395357  2022
69           Langka  2763.614286  2022
70            Duhat  2742.101905  2022
71          Avocado  2404.395357  2022
72       Sinegwelas  3000.100000  2022
73            Chico  1437.106667  2022
74            Guava  2404.395357  2022
75         Lanzones  3539.400000  2022
76             Pot1  2908.500000  2022
77             Pot2  6254.485714  2022
78            pot 3  4192.400000  2022
79       Pot Design  4565.400000  2022
80      Yellow Bell  2390.533333  2022
81  Milendres White  2107.000000  2022
82        Kabalyero  2897.600000  2022
83     Bridal Boket  2309.450833  2022
84       Sampaguita  1808.600000  2022
85             Soil  2375.000000  2022
86    Manga Kalabaw  7092.174286  2022
87       Manga Pico  3000.100000  2022

# Quarterly Prediction

In [33]:
mission = pd.DataFrame()
mission['Name'] = test["Name"]
mission['sales'] = pred / 12
mission['Quarterly'] = 3
pd.set_option('display.max_rows', df.shape[0]+1)
mission

               Name       sales  Quarterly
28           Kamias  230.301190          3
29         Kalamasi  319.785833          3
30           Papaya  164.530000          3
31           Tundan  235.877619          3
32          Lakatan  591.014524          3
33         Rambutan  294.950000          3
34             Suha  200.366280          3
35             Atis  299.417381          3
36         Guyabano  230.301190          3
37            Lemon  119.758889          3
38       Dalanghita  200.366280          3
39           Langka  230.301190          3
40            Duhat  228.508492          3
41          Avocado  200.366280          3
42       Sinegwelas  250.008333          3
43            Chico  119.758889          3
44            Guava  200.366280          3
45         Lanzones  294.950000          3
46             Pot1  242.375000          3
47             Pot2  521.207143          3
48            pot 3  349.366667          3
49       Pot Design  380.450000          3
50      Yellow Bell  199.211111          3
51  Milendres White  175.583333          3
52        Kabalyero  241.466667          3
53     Bridal Boket  192.454236          3
54       Sampaguita  150.716667          3
55             Soil  197.916667          3
56    Manga Kalabaw  591.014524          3
57       Manga Pico  250.008333          3
58           Kamias  230.301190          3
59         Kalamasi  319.785833          3
60           Papaya  164.530000          3
61           Tundan  235.877619          3
62          Lakatan  591.014524          3
63         Rambutan  294.950000          3
64             Suha  200.366280          3
65             Atis  299.417381          3
66         Guyabano  230.301190          3
67            Lemon  119.758889          3
68       Dalanghita  200.366280          3
69           Langka  230.301190          3
70            Duhat  228.508492          3
71          Avocado  200.366280          3
72       Sinegwelas  250.008333          3
73            Chico  119.758889          3
74            Guava  200.366280          3
75         Lanzones  294.950000          3
76             Pot1  242.375000          3
77             Pot2  521.207143          3
78            pot 3  349.366667          3
79       Pot Design  380.450000          3
80      Yellow Bell  199.211111          3
81  Milendres White  175.583333          3
82        Kabalyero  241.466667          3
83     Bridal Boket  192.454236          3
84       Sampaguita  150.716667          3
85             Soil  197.916667          3
86    Manga Kalabaw  591.014524          3
87       Manga Pico  250.008333          3

# Monthly Prediction

In [34]:
mission = pd.DataFrame()
mission['Name'] = test["Name"]
mission['sales'] = pred / 36
mission['monthly'] = 1
pd.set_option('display.max_rows', df.shape[0]+1)
mission

               Name       sales  monthly
28           Kamias   76.767063        1
29         Kalamasi  106.595278        1
30           Papaya   54.843333        1
31           Tundan   78.625873        1
32          Lakatan  197.004841        1
33         Rambutan   98.316667        1
34             Suha   66.788760        1
35             Atis   99.805794        1
36         Guyabano   76.767063        1
37            Lemon   39.919630        1
38       Dalanghita   66.788760        1
39           Langka   76.767063        1
40            Duhat   76.169497        1
41          Avocado   66.788760        1
42       Sinegwelas   83.336111        1
43            Chico   39.919630        1
44            Guava   66.788760        1
45         Lanzones   98.316667        1
46             Pot1   80.791667        1
47             Pot2  173.735714        1
48            pot 3  116.455556        1
49       Pot Design  126.816667        1
50      Yellow Bell   66.403704        1
51  Milendres White   58.527778        1
52        Kabalyero   80.488889        1
53     Bridal Boket   64.151412        1
54       Sampaguita   50.238889        1
55             Soil   65.972222        1
56    Manga Kalabaw  197.004841        1
57       Manga Pico   83.336111        1
58           Kamias   76.767063        1
59         Kalamasi  106.595278        1
60           Papaya   54.843333        1
61           Tundan   78.625873        1
62          Lakatan  197.004841        1
63         Rambutan   98.316667        1
64             Suha   66.788760        1
65             Atis   99.805794        1
66         Guyabano   76.767063        1
67            Lemon   39.919630        1
68       Dalanghita   66.788760        1
69           Langka   76.767063        1
70            Duhat   76.169497        1
71          Avocado   66.788760        1
72       Sinegwelas   83.336111        1
73            Chico   39.919630        1
74            Guava   66.788760        1
75         Lanzones   98.316667        1
76             Pot1   80.791667        1
77             Pot2  173.735714        1
78            pot 3  116.455556        1
79       Pot Design  126.816667        1
80      Yellow Bell   66.403704        1
81  Milendres White   58.527778        1
82        Kabalyero   80.488889        1
83     Bridal Boket   64.151412        1
84       Sampaguita   50.238889        1
85             Soil   65.972222        1
86    Manga Kalabaw  197.004841        1
87       Manga Pico   83.336111        1